@import '../../../styles/variables.module.scss';

.saveBtnCtn {
  @include saveBtnStyles(212.5px);
}

button.saveBtn {
  &:disabled {
    color: $borderColor;
    border-color: $borderColor;
    cursor: not-allowed; 
  }
}

.saveBtnCtn.saveTransportBtn {
  @include saveBtnStyles(199.5px);
}
