@import '../../../styles/variables.module.scss';

.radioBtn {
  label {
    cursor: pointer;
    color: $white;
    @include setFontSizeAndWeight(14px, 400);
    @include flexCenter;
  }
  input[type='radio'] {
    display: none;
  }
  input[type='radio'] + label {
    border: 1px solid $lighterBlue;
  }
  input[type='radio']:hover + label {
    color: $greenColor;
    border: 1px solid $greenColor;
  }
}
