@import '/styles/variables.module.scss';

.infoDiagram {
  color: white;
  .container {
    max-width: 52%;
    margin-right: 260px;
    @include containerStyles;
    
    @media (max-width: 1835px) {
      max-width: 55%;
    }
    @media (max-width: 1640px) {
      min-width: 65%;
    }
    @media (max-width: 690px) {
      max-width: 100%;
    }
  }
}
