@import '../../../../styles/variables.module.scss';

.modalContainer {
  @include modalContainerStyles;
  .modalCustom {
    @include modalCustomStyles(50%, 50%);
    .scheduleModal {
      @include actualModalStyles(526px);
      padding: 50px 98px 36px 91px;
      @media (max-width: 628px) {
        width: 315px;
        padding: 38px 18px 43px;
      }
      .closeBtn {
        @include closeBtnStyles(22.4px, 34px);
      }
      .title {
        @include modalTitleStyles(628px);
      }
      .main {
        margin-top: 20px;
        @include modalFormStyles;
        .tableCtn {
          margin-top: 21px;
          height: 358px;
          overflow-y: scroll;
          padding-right: 5px;
          @include scrollStyles;
          .table {
            @include tableInAdminStyles(0);
            .column {
              @include adminTableColumnStyles(39.6px);
            }
            .column.start {
              width: 9rem;
            }
            .column.end {
              width: 9rem;
            }
            .column.connection {
              width: 2.56rem;
            }
          }
        }

        p {
          text-align: center;
          @include setTextStyles(0, $white, 16px, 600);
          max-width: 337px;
        }
        .applyBtn {
          @include addBtnStyles;
          margin-top: 44px;
        }
      }
    }
  }
}
