.main {
    color: white;
    padding: 20px;
    .paragraphTitle {
        font-weight: 600;
    }
    h3 {
        margin: 20px;
    }
    p {
        margin-bottom: 10px;
    }
    div {
        margin-bottom: 25px;
    }
}