@import '../../../styles/variables.module.scss';

.checkboxCtn {
  position: relative;
  height: 18px;
  .checkedBox {
  }
  input.checkbox {
    @include setWidthHeight(18px, 18px);
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    border: 2px solid $white;
    border-radius: 3px;
    z-index: 9999;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:checked {
      display: none;
    }
    // Vendor prefixes for display property
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
