@import '../../../../styles/variables.module.scss';

.react-datepicker {
  background-color: $lighterBlue;
  border: none;
  .react-datepicker__time-container {
    display: none;
  }
  .react-datepicker__header {
    background-color: $lighterBlue;
    .react-datepicker__header__dropdown {
      display: flex;
      justify-content: center;
    }
    .react-datepicker__current-month {
      display: none;
    }
    .react-datepicker__month-dropdown-container,
    .react-datepicker__year-dropdown-container {
      border: 1px solid $borderColor;
      color: $white;
      padding-top: 2px;
      @include textShadow;
      @include setFontSizeAndWeight(12px, 500);
      @include setWidthHeight(83px, 25px);
    }
    .react-datepicker__month-dropdown-container {
      .react-datepicker__month-dropdown {
        left: 5%;
        top: 41px;
        .react-datepicker__month-option {
          color: $darkBlue;
        }
        .react-datepicker__month-option--selected_month {
          background-color: $purple;
        }
      }
    }
    .react-datepicker__year-dropdown-container {
      width: 65px;
      .react-datepicker__year-dropdown {
        left: 48%;
        top: 41px;
        .react-datepicker__year-option {
          color: $darkBlue;
        }
        .react-datepicker__year-option--selected_year {
          background-color: $purple;
        }
      }
    }
    .react-datepicker__month-read-view--down-arrow,
    .react-datepicker__year-read-view--down-arrow {
      right: 5px;
    }
    .react-datepicker__month-read-view--down-arrow {
      top: 1px;
    }
    .react-datepicker__month-read-view {
      padding-right: 8px;
    }
    .react-datepicker__year-read-view {
      padding-right: 12px;
    }
    .react-datepicker__year-dropdown-container {
      padding-top: 4px;
    }
  }
  .react-datepicker__navigation--next {
    right: -8px;
    top: 4px;
  }
  .react-datepicker__navigation--previous {
    left: -8px;
    top: 4px;
  }
  .react-datepicker__day-names {
    .react-datepicker__day-name {
      @include setTextStyles(15px, $white, 14px, 500);
    }
  }

  .react-datepicker__day {
    color: $white;
    @include setFontSizeAndWeight(12px, 500);
    line-height: 20px;
    &:hover {
      background-color: $darkGreen;
      border-radius: 0;
    }
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--in-range {
    background-color: $darkGreen;
    color: $greenColor;
    &:hover {
      background-color: $darkGreen;
    }
  }
  .react-datepicker__day--selected {
    background-color: $darkGreen;
    color: $greenColor;
  }
  .react-datepicker__day--in-range {
    &:hover {
      background-color: $darkGreen;
    }
  }
  .react-datepicker__day--disabled {
    color: rgba(255, 255, 255, 0.202);
    &:hover {
      background-color: $darkGreen;
    }
  }
  .react-datepicker__day--outside-month {
    color: $borderColor;
    border-radius: 0;
  }

  .react-datepicker__day--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ),
  .react-datepicker__month-text--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ),
  .react-datepicker__quarter-text--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ),
  .react-datepicker__year-text--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ) {
    background: $darkGreen;
    border-radius: 0;
  }

  .react-datepicker__month--selecting-range
    .react-datepicker__day--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__year--selecting-range
    .react-datepicker__day--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__month--selecting-range
    .react-datepicker__month-text--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__year--selecting-range
    .react-datepicker__month-text--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__month--selecting-range
    .react-datepicker__quarter-text--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__year--selecting-range
    .react-datepicker__quarter-text--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__month--selecting-range
    .react-datepicker__year-text--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ),
  .react-datepicker__year--selecting-range
    .react-datepicker__year-text--in-range:not(
      .react-datepicker__day--in-selecting-range,
      .react-datepicker__month-text--in-selecting-range,
      .react-datepicker__quarter-text--in-selecting-range,
      .react-datepicker__year-text--in-selecting-range
    ) {
    background: $darkGreen;
    color: $greenColor;
    border-radius: 0;
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0;
}
